* {
    box-sizing:border-box;
  }
  
  :root {
    --blavk: black;
    --purple: #351C75;
    --pink: #BD60E7;
    --grey: grey;
    --white:#FFFFFF;
    font-size: 62.5%;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  
}

/* HEADER */ 
  header {
    padding: 30px;
    display: flex;
    flex-wrap: flex;
    justify-content: space-between;
    font-size: 1.5rem;
  }
  
  header button {
    outline: none;
    border: none;
    display: inline-block;
    background-color: var(--white);
    color: var(--pink);
    cursor: pointer;
  }
  
/* MAIN WELCOME PAGE STYLING*/

main {
      padding: 20px;
      /*figure out how to shrink to 1/2 the page */
      display: flex;
      flex-direction: column;
      justify-content: center;
      
}
 
.welcome-page  {
    display: flex;
    padding: 20px;
    justify-content: center;
    font-size: 30px;
    flex-direction: column;
}

.welcome-page .title-question {
    display: flex;
    justify-content: center;
}

.content-text {
    display: flex;
    font-size: 16px;
    justify-content: center; /*why is this not working */
}

.buttons {
    display: flex;
    justify-content: center;
}

.start-btn {
    outline: none;
    border: none;
    display: inline-block;
    padding: 10px;
    border-radius: 15px;
    background-color: var(--purple);
    color: var(--white);
    cursor: pointer;
}

.reg-btn {
    outline: none;
    border: none;
    display: inline-block;
    padding: 10px;
    border-radius: 15px;
    background-color: var(--purple);
    color: var(--white);
    cursor: pointer;
}
/* WELCOME PAGE ENDS */

/* QUESTION PAGE BEGINS */
.question-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
}

.title-question {
    display: flex;
    justify-content: left;
    font-size: 30px;
}

.answer-list {
    display: flex;
    justify-content: left;
    flex-direction: column;   
}

.btn-answer {
    outline: none;
    border: none;
    display: inline-block;
    padding: 10px;
    border-radius: 15px;
    background-color: var(--purple);
    color: var(--white);
    cursor: pointer;
    margin: 1.5px;
    width: auto;
    font-size: 14px;
}

.answer-result {
    border-top: solid, color var(--grey);
    color: var(--grey)
}

.result {
    padding: 20px 0 0 0;
    color: var(--grey);
    display: flex;
}

.btn-answer:hover, .reg-btn:hover, .start-btn:hover {
    background-color: var(--pink);
}
/* ENDS QUESTION PAGE */

/*FINAL SCORE PAGE BEGINS */
.final-score-content{
    display: flex;
    justify-content: left;
    flex-direction: column;   
    font-size: 20px;
}

.enter-initials {
    display: flex;
    flex-wrap: flex;
}

.initials-input {
    margin: 0 10px 0 10px;
}

.submit-btn {
    outline: none;
    border: none;
    display: inline-block;
    padding: 10px;
    border-radius: 15px;
    background-color: var(--purple);
    color: var(--white);
    cursor: pointer;
}
/* END FINAL SCORE PAGE */